local ShardTemplate = import "shard.jsonnet.TEMPLATE";
local DevEnv = import "dev-env.json";

local DevShard(shardName, release="bleeding-edge") = (
  ShardTemplate.newShard(shardName, release, env=DevEnv)
);

{
  newDevShard: DevShard,
}
