local ShardTemplate = import "shard.jsonnet.TEMPLATE";
local ProdEnv = import "prod-env.json";

local ProdShard(customerName, release) = (
  ShardTemplate.newShard(customerName, release, env=ProdEnv)
);

{
  newProdShard: ProdShard,
}
